html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#navbar {
	height: 100px;
	background-color: #333333;
	border-bottom: gray;
	border-style: solid;
	border-width: .5px;
}

#left {
	left: 100px;
	font-family: "Helvetica";

}

#right {
	left: 300px;
	font-family: "Helvetica";
}

#logo {
	text-indent: 180px;
}

#invest {
	font-size: 60px;
}

/* BODY */

body {
   background-color: #333333;
}

#center_nav {
	left: 41%;
}

#mentees {
	font-family: "Times";
	font-size: 50px;
	position: relative;
	left: 37.5%;
}

.row {
	display:flex;
	justify-content: center;

}

.column {
    float: center;
    width: 34%;
    padding: 10px;
    height: 170px;
    margin: 60px;
    text-align: center;
    font-family: "Times";
    box-shadow: 5px 10px;
}

.btn {
	background-color: #E09755;
	border-radius: 50px;
	width: 120px;

}

#propic {
	width: 200;
	height: 200;
	position: relative;
	bottom: 25px;
	right: 240px;
	z-index: 80;

}

#name {
	position: relative;
	bottom: 200px;
	font-size: 40px;
	left: 60px;
}

.btn {
	position: relative;
	bottom: 170px;
}

#doc {
	width: 80px ;
	height: 75px;
	position: relative;
	bottom: 167px;
	left: 18px;
}

#mail {
	width: 60px;
	height: 60px;
	position: relative;
	top: 65px;
	left: 280px;
	z-index: 100;
}

#title {
	position: relative;
	bottom: 180px;
	left: 50px;
}

