html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#navbar {
	height: 100px;
	background-color: #333333;
	border-bottom: gray;
	border-style: solid;
	border-width: .5px;
}

#left {
	left: 100px;
	font-family: "Helvetica";

}

#right {
	left: 300px;
	font-family: "Helvetica";
}

#logo {
	text-indent: 180px;
}

#invest {
	font-size: 60px;
}

/* BODY */

body {
   background-color: #333333;
}

#center_nav {
	left: 38%;
}

.row {
	display:flex;
	padding-top: 4%;
	justify-content: center;

}

.column {
    float: left;
    width: 18%;
    padding: 10px;
    height: 350px;
    margin: 60px;
    border-style: solid;
    border-color: #E09755;
    border-width: 5px;
    text-align: center;
    font-family: "Times";
}

.btn {
	height: 40px;
	width: 150px;
	border-radius: 50px;
	border-color: #E09755;
	background-color: #333333;
	font-size: 15px;
	font-family: "Times";
	position: relative;
	top: 90px;
}

