html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#navbar {
	height: 100px;
	background-color: #333333;
	border-bottom: gray;
	border-style: solid;
	border-width: .5px;
}

#left {
	left: 100px;
	font-family: "Helvetica";

}

#right {
	left: 300px;
	font-family: "Helvetica";
}

#logo {
	text-indent: 180px;
}

#invest {
	font-size: 60px;
}

/* BODY */

body {
   background-color: #333333;
}

#center_nav {
	left: 41%;
}

.row {
	display:flex;
	padding-top: 4%;
	margin-left: 120px;

}

.column {
    width: 50%;
    margin: auto;
    height: 750px;
/*    border-style: solid;
    border-color: #E09755;
    border-width: 5px;*/
}

.one {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: gray;

}

#props {
	position: relative;
	left: 140px;
	top: 20px;
	font-family: "Times";
	font-size: 30px;
}

#msgs {
	position: relative;
	float: right;
	right: 570px;
	bottom: 23px;
	font-family: "Times";
	font-size: 30px;

}

.paragraph {
	width: 510px;
	height: 130px;
	margin-bottom: 60px;
	font-family: "Times";
}

#propic {
	position: relative;
	bottom: 19px;
	width: 170px;
	height: 170px;
}

.act {
	width: 50px;
	height: 50px;
}

#approve {
	position: relative;
	bottom: 378px;
	left: 450px;

}

#deny {
	position: relative;
	bottom: 315px;
	left : 397px;
}

p {
	width: 250px;
	height: 200px;
	position: relative;
	left: 188px;
	bottom: 158px;
}

.message {
	width: 510px;
	height: 70px;
	margin-bottom: 25px;
	margin-left: 90px;
	font-family: "Times";
}

#mail {
	width: 40px;
	height: 40px;
	position: relative;
	right: 20px;
	bottom: 16px;
}

#subject {
	font-size: 20px;
	position: relative;
	bottom: 20px;
	left: 40px;
}

#cal {
	position: relative;
	left: 250px;
	top: 20px;
	font-family: "Times";
	font-size: 30px;
}