html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#navbar {
	height: 100px;
	background-color: #333333;
	border-bottom: gray;
	border-style: solid;
	border-width: .5px;
}

#left {
	left: 100px;
	font-family: "Helvetica";

}

#right {
	left: 300px;
	font-family: "Helvetica";
}

#logo {
	text-indent: 180px;
}

#invest {
	font-size: 60px;
}

/* BODY */

body {
   background-color: #333333;
}

#center_nav {
	left: 36%;
}

#signup {
	font-family: "Times";
	font-size: 60px;
	position: absolute;
	left: 43%;
}

.row {
	display:flex;
	padding-top: 4%;
	justify-content: center;

}

.column {
    float: left;
    width: 18%;
    padding: 10px;
    height: 350px;
    margin: 60px;
    border-style: solid;
    border-color: #E09755;
    border-width: 5px;
    text-align: center;
    font-family: "Times";
}

#submit {
	background-color: #E09755;
	border-color: #E09755;
	width: 200px;
	height: 50px;
	position: relative;
	left: 43%;
	bottom: 20px;
	font-family: "Times";
}

.line {
	padding-top: 3px;
	background-color: #FFFFFF;
	width: 150px;
	height: 3px;
	position: relative;
	left: 17%;
	top: 1%;
}

p {
	position: relative;
	top: 20%;
}

.btn {
	height: 40px;
	width: 150px;
	border-radius: 50px;
	border-color: #E09755;
	background-color: #E09755;
	font-size: 15px;
	font-family: "Times";
	position: relative;
	top: 90px;
}

